<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>TEST ONLINE</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">
    <style>
        .text-truncate-3 {
            display: -webkit-box;
            -webkit-line-clamp: 5;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        
        .hover {
            color: white !important;
        }
        
        .hover:hover {
            color: rgb(204, 236, 139) !important;
        }
        
        .navbar-toggler-icon {
            filter: brightness(0) invert(1);
        }
    </style>
</head>

<body class="soal1 mb-2">
    <div class="iklan position-fixed d-none d-md-flex left-0 justify-content-center align-items-center h-100" style="width: 120px;">
        <div class="d-flex justify-content-center align-items-center" style="width: 120px; height: 600px;">
            <img class="w-100 h-100" src="https://i.pinimg.com/1200x/1a/a2/f1/1aa2f1a0680034c56a2c01c2bb4e2f85.jpg" alt="">
        </div>
    </div>
    <div class="iklan position-fixed d-none d-md-flex right-0 justify-content-center align-items-center h-100" style="width: 120px; right:0;">
        <div class="d-flex justify-content-center align-items-center" style="width: 120px; height: 600px;">
            <img class="w-100 h-100" src="https://i.pinimg.com/736x/77/b8/32/77b832759ab2a458d7bda68dc635de4c.jpg" alt="">
        </div>
    </div>
    <nav class="navbar navbar-expand-lg position-fixed w-100 bg-dark mt-0 z-1" style="opacity: 100%;">
        <div class="container-fluid">
            <a class="navbar-brand text-white" href="#">Tes Online Evi Fitriya</a>
            <button class="navbar-toggler border-white" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse bg-dark" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item dropdown bg-dark">
                        <a class="nav-link dropdown-toggle bg-dark hover" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Transportasi
                        </a>
                        <ul class="dropdown-menu bg-dark">
                            <li><a class="dropdown-item bg-dark hover" href="#">Bus</a></li>
                            <li><a class="dropdown-item bg-dark hover" href="#">Kereta</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown bg-dark">
                        <a class="nav-link dropdown-toggle bg-dark hover" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Akomodasi
                        </a>
                        <ul class="dropdown-menu bg-dark">
                            <li><a class="dropdown-item bg-dark hover" href="#">Hotel</a></li>
                            <li><a class="dropdown-item bg-dark hover" href="#">Homestay</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container fs-2 d-flex flex-column w-100 h-auto justify-content-center align-items-center" style="padding-top: 50px;">
        <h1 class="m-5">7 Tempat Wisata yang layak Huni di Surabaya</h1>
        <div class="w-100 flex-1 gap-4 d-flex justify-content-center align-items-center flex-wrap">
            <div class="card content col-md-2 col-12 h-auto" style="width: 300px; display:none;">
                <div class="card-header fw-lighter">
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Atque fuga minus totam
                </div>
                <div class="card-body">
                    <figure>
                        <blockquote class="blockquote" style="width: 100%; height: 200px;">
                            <p class="text-truncate-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis dolores eligendi cum magnam excepturi, nam fuga tempore et vel odit itaque natus, doloremque adipisci dignissimos provident placeat quo delectus! Ipsum.</p>
                        </blockquote>
                    </figure>
                </div>
            </div>
            <div class="card content col-md-2 col-12 h-auto" style="width: 300px; display:none;">
                <div class="card-header fw-lighter">
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Atque fuga minus totam
                </div>
                <div class="card-body">
                    <figure>
                        <blockquote class="blockquote" style="width: 100%; height: 200px;">
                            <p class="text-truncate-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis dolores eligendi cum magnam excepturi, nam fuga tempore et vel odit itaque natus, doloremque adipisci dignissimos provident placeat quo delectus! Ipsum.</p>
                        </blockquote>
                    </figure>
                </div>
            </div>
            <div class="card content col-md-2 col-12 h-auto" style="width: 300px; display:none;">
                <div class="card-header fw-lighter">
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Atque fuga minus totam
                </div>
                <div class="card-body">
                    <figure>
                        <blockquote class="blockquote" style="width: 100%; height: 200px;">
                            <p class="text-truncate-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis dolores eligendi cum magnam excepturi, nam fuga tempore et vel odit itaque natus, doloremque adipisci dignissimos provident placeat quo delectus! Ipsum.</p>
                        </blockquote>
                    </figure>
                </div>
            </div>
            <div class="card content col-md-2 col-12 h-auto" style="width: 300px; display:none;">
                <div class="card-header fw-lighter">
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Atque fuga minus totam
                </div>
                <div class="card-body">
                    <figure>
                        <blockquote class="blockquote" style="width: 100%; height: 200px;">
                            <p class="text-truncate-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis dolores eligendi cum magnam excepturi, nam fuga tempore et vel odit itaque natus, doloremque adipisci dignissimos provident placeat quo delectus! Ipsum.</p>
                        </blockquote>
                    </figure>
                </div>
            </div>
            <div class="card content col-md-2 col-12 h-auto" style="width: 300px; display:none;">
                <div class="card-header fw-lighter">
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Atque fuga minus totam
                </div>
                <div class="card-body">
                    <figure>
                        <blockquote class="blockquote" style="width: 100%; height: 200px;">
                            <p class="text-truncate-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis dolores eligendi cum magnam excepturi, nam fuga tempore et vel odit itaque natus, doloremque adipisci dignissimos provident placeat quo delectus! Ipsum.</p>
                        </blockquote>
                    </figure>
                </div>
            </div>
            <div class="card content col-md-2 col-12 h-auto" style="width: 300px; display:none;">
                <div class="card-header fw-lighter">
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Atque fuga minus totam
                </div>
                <div class="card-body">
                    <figure>
                        <blockquote class="blockquote" style="width: 100%; height: 200px;">
                            <p class="text-truncate-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis dolores eligendi cum magnam excepturi, nam fuga tempore et vel odit itaque natus, doloremque adipisci dignissimos provident placeat quo delectus! Ipsum.</p>
                        </blockquote>
                    </figure>
                </div>
            </div>
            <div class="card content col-md-2 col-12 h-auto" style="width: 300px; display:none;">
                <div class="card-header fw-lighter">
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Atque fuga minus totam
                </div>
                <div class="card-body">
                    <figure>
                        <blockquote class="blockquote" style="width: 100%; height: 200px;">
                            <p class="text-truncate-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis dolores eligendi cum magnam excepturi, nam fuga tempore et vel odit itaque natus, doloremque adipisci dignissimos provident placeat quo delectus! Ipsum.</p>
                        </blockquote>
                    </figure>
                </div>
            </div>
            <div class="card content col-md-2 col-12 h-auto" style="width: 300px; display:none;">
                <div class="card-header fw-lighter">
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Atque fuga minus totam
                </div>
                <div class="card-body">
                    <figure>
                        <blockquote class="blockquote" style="width: 100%; height: 200px;">
                            <p class="text-truncate-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis dolores eligendi cum magnam excepturi, nam fuga tempore et vel odit itaque natus, doloremque adipisci dignissimos provident placeat quo delectus! Ipsum.</p>
                        </blockquote>
                    </figure>
                </div>
            </div>
            <div class="card content col-md-2 col-12 h-auto" style="width: 300px; display:none;">
                <div class="card-header fw-lighter">
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Atque fuga minus totam
                </div>
                <div class="card-body">
                    <figure>
                        <blockquote class="blockquote" style="width: 100%; height: 200px;">
                            <p class="text-truncate-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis dolores eligendi cum magnam excepturi, nam fuga tempore et vel odit itaque natus, doloremque adipisci dignissimos provident placeat quo delectus! Ipsum.</p>
                        </blockquote>
                    </figure>
                </div>
            </div>
            <div class="card content col-md-2 col-12 h-auto" style="width: 300px; display:none;">
                <div class="card-header fw-lighter">
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Atque fuga minus totam
                </div>
                <div class="card-body">
                    <figure>
                        <blockquote class="blockquote" style="width: 100%; height: 200px;">
                            <p class="text-truncate-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis dolores eligendi cum magnam excepturi, nam fuga tempore et vel odit itaque natus, doloremque adipisci dignissimos provident placeat quo delectus! Ipsum.</p>
                        </blockquote>
                    </figure>
                </div>
            </div>
            <div class="card content col-md-2 col-12 h-auto" style="width: 300px; display:none;">
                <div class="card-header fw-lighter">
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Atque fuga minus totam
                </div>
                <div class="card-body">
                    <figure>
                        <blockquote class="blockquote" style="width: 100%; height: 200px;">
                            <p class="text-truncate-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis dolores eligendi cum magnam excepturi, nam fuga tempore et vel odit itaque natus, doloremque adipisci dignissimos provident placeat quo delectus! Ipsum.</p>
                        </blockquote>
                    </figure>
                </div>
            </div>
            <div class="card content col-md-2 col-12 h-auto" style="width: 300px; display:none;">
                <div class="card-header fw-lighter">
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Atque fuga minus totam
                </div>
                <div class="card-body">
                    <figure>
                        <blockquote class="blockquote" style="width: 100%; height: 200px;">
                            <p class="text-truncate-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis dolores eligendi cum magnam excepturi, nam fuga tempore et vel odit itaque natus, doloremque adipisci dignissimos provident placeat quo delectus! Ipsum.</p>
                        </blockquote>
                    </figure>
                </div>
            </div>
            <div class="card content col-md-2 col-12 h-auto" style="width: 300px; display:none;">
                <div class="card-header fw-lighter">
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Atque fuga minus totam
                </div>
                <div class="card-body">
                    <figure>
                        <blockquote class="blockquote" style="width: 100%; height: 200px;">
                            <p class="text-truncate-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis dolores eligendi cum magnam excepturi, nam fuga tempore et vel odit itaque natus, doloremque adipisci dignissimos provident placeat quo delectus! Ipsum.</p>
                        </blockquote>
                    </figure>
                </div>
            </div>
            <div class="card content col-md-2 col-12 h-auto" style="width: 300px; display:none;">
                <div class="card-header fw-lighter">
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Atque fuga minus totam
                </div>
                <div class="card-body">
                    <figure>
                        <blockquote class="blockquote" style="width: 100%; height: 200px;">
                            <p class="text-truncate-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis dolores eligendi cum magnam excepturi, nam fuga tempore et vel odit itaque natus, doloremque adipisci dignissimos provident placeat quo delectus! Ipsum.</p>
                        </blockquote>
                    </figure>
                </div>
            </div>
            <div class="card content col-md-2 col-12 h-auto" style="width: 300px; display:none;">
                <div class="card-header fw-lighter">
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Atque fuga minus totam
                </div>
                <div class="card-body">
                    <figure>
                        <blockquote class="blockquote" style="width: 100%; height: 200px;">
                            <p class="text-truncate-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis dolores eligendi cum magnam excepturi, nam fuga tempore et vel odit itaque natus, doloremque adipisci dignissimos provident placeat quo delectus! Ipsum.</p>
                        </blockquote>
                    </figure>
                </div>
            </div>
            <div class="card content col-md-2 col-12 h-auto" style="width: 300px; display:none;">
                <div class="card-header fw-lighter">
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Atque fuga minus totam
                </div>
                <div class="card-body">
                    <figure>
                        <blockquote class="blockquote" style="width: 100%; height: 200px;">
                            <p class="text-truncate-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis dolores eligendi cum magnam excepturi, nam fuga tempore et vel odit itaque natus, doloremque adipisci dignissimos provident placeat quo delectus! Ipsum.</p>
                        </blockquote>
                    </figure>
                </div>
            </div>
            <div class="card content col-md-2 col-12 h-auto" style="width: 300px; display:none;">
                <div class="card-header fw-lighter">
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Atque fuga minus totam
                </div>
                <div class="card-body">
                    <figure>
                        <blockquote class="blockquote" style="width: 100%; height: 200px;">
                            <p class="text-truncate-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis dolores eligendi cum magnam excepturi, nam fuga tempore et vel odit itaque natus, doloremque adipisci dignissimos provident placeat quo delectus! Ipsum.</p>
                        </blockquote>
                    </figure>
                </div>
            </div>
            <div class="card content col-md-2 col-12 h-auto" style="width: 300px; display:none;">
                <div class="card-header fw-lighter">
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Atque fuga minus totam
                </div>
                <div class="card-body">
                    <figure>
                        <blockquote class="blockquote" style="width: 100%; height: 200px;">
                            <p class="text-truncate-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis dolores eligendi cum magnam excepturi, nam fuga tempore et vel odit itaque natus, doloremque adipisci dignissimos provident placeat quo delectus! Ipsum.</p>
                        </blockquote>
                    </figure>
                </div>
            </div>
            <div class="card content col-md-2 col-12 h-auto" style="width: 300px; display:none;">
                <div class="card-header fw-lighter">
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Atque fuga minus totam
                </div>
                <div class="card-body">
                    <figure>
                        <blockquote class="blockquote" style="width: 100%; height: 200px;">
                            <p class="text-truncate-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis dolores eligendi cum magnam excepturi, nam fuga tempore et vel odit itaque natus, doloremque adipisci dignissimos provident placeat quo delectus! Ipsum.</p>
                        </blockquote>
                    </figure>
                </div>
            </div>
            <div class="card content col-md-2 col-12 h-auto" style="width: 300px; display:none;">
                <div class="card-header fw-lighter">
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Atque fuga minus totam
                </div>
                <div class="card-body">
                    <figure>
                        <blockquote class="blockquote" style="width: 100%; height: 200px;">
                            <p class="text-truncate-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis dolores eligendi cum magnam excepturi, nam fuga tempore et vel odit itaque natus, doloremque adipisci dignissimos provident placeat quo delectus! Ipsum.</p>
                        </blockquote>
                    </figure>
                </div>
            </div>
            <div class="card content col-md-2 col-12 h-auto" style="width: 300px; display:none;">
                <div class="card-header fw-lighter">
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Atque fuga minus totam
                </div>
                <div class="card-body">
                    <figure>
                        <blockquote class="blockquote" style="width: 100%; height: 200px;">
                            <p class="text-truncate-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis dolores eligendi cum magnam excepturi, nam fuga tempore et vel odit itaque natus, doloremque adipisci dignissimos provident placeat quo delectus! Ipsum.</p>
                        </blockquote>
                    </figure>
                </div>
            </div>
            <div class="card content col-md-2 col-12 h-auto" style="width: 300px; display:none;">
                <div class="card-header fw-lighter">
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Atque fuga minus totam
                </div>
                <div class="card-body">
                    <figure>
                        <blockquote class="blockquote" style="width: 100%; height: 200px;">
                            <p class="text-truncate-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis dolores eligendi cum magnam excepturi, nam fuga tempore et vel odit itaque natus, doloremque adipisci dignissimos provident placeat quo delectus! Ipsum.</p>
                        </blockquote>
                    </figure>
                </div>
            </div>
            <div class="card content col-md-2 col-12 h-auto" style="width: 300px; display:none;">
                <div class="card-header fw-lighter">
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Atque fuga minus totam
                </div>
                <div class="card-body">
                    <figure>
                        <blockquote class="blockquote" style="width: 100%; height: 200px;">
                            <p class="text-truncate-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis dolores eligendi cum magnam excepturi, nam fuga tempore et vel odit itaque natus, doloremque adipisci dignissimos provident placeat quo delectus! Ipsum.</p>
                        </blockquote>
                    </figure>
                </div>
            </div>
            <div class="card content col-md-2 col-12 h-auto" style="width: 300px; display:none;">
                <div class="card-header fw-lighter">
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Atque fuga minus totam
                </div>
                <div class="card-body">
                    <figure>
                        <blockquote class="blockquote" style="width: 100%; height: 200px;">
                            <p class="text-truncate-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis dolores eligendi cum magnam excepturi, nam fuga tempore et vel odit itaque natus, doloremque adipisci dignissimos provident placeat quo delectus! Ipsum.</p>
                        </blockquote>
                    </figure>
                </div>
            </div>
            <div class="card content col-md-2 col-12 h-auto" style="width: 300px; display:none;">
                <div class="card-header fw-lighter">
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Atque fuga minus totam
                </div>
                <div class="card-body">
                    <figure>
                        <blockquote class="blockquote" style="width: 100%; height: 200px;">
                            <p class="text-truncate-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis dolores eligendi cum magnam excepturi, nam fuga tempore et vel odit itaque natus, doloremque adipisci dignissimos provident placeat quo delectus! Ipsum.</p>
                        </blockquote>
                    </figure>
                </div>
            </div>
            <div class="card content col-md-2 col-12 h-auto" style="width: 300px; display:none;">
                <div class="card-header fw-lighter">
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Atque fuga minus totam
                </div>
                <div class="card-body">
                    <figure>
                        <blockquote class="blockquote" style="width: 100%; height: 200px;">
                            <p class="text-truncate-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis dolores eligendi cum magnam excepturi, nam fuga tempore et vel odit itaque natus, doloremque adipisci dignissimos provident placeat quo delectus! Ipsum.</p>
                        </blockquote>
                    </figure>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js" integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q" crossorigin="anonymous">
</script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    let qty_load = 12;
    load(qty_load);
    $(function() {
        var lastScrollTop = 0,
            delta = 5
        $(window).scroll(function() {
            var nowScrollTop = $(this).scrollTop()

            if (Math.abs(lastScrollTop - nowScrollTop) >= delta) {
                if (nowScrollTop > lastScrollTop) {
                    let navbar = document.querySelector('.soal1 .navbar');
                    // console.log('down')
                    navbar.style.opacity = "0"
                } else {
                    let navbar = document.querySelector('.soal1 .navbar');
                    navbar.style.opacity = "1"
                        // console.log('up')
                }
                lastScrollTop = nowScrollTop;
            }

            if ($(window).scrollTop() + $(window).height() >= $(document).height() - 1) {
                let allContent = document.querySelectorAll('.card.content')
                console.log(allContent.length)
                if (qty_load != allContent.length) {
                    validation()
                }
            }
        });
    });



    function load(qty) {
        let allContent = document.querySelectorAll('.card.content')
        console.log(allContent.length)
        if (qty >= allContent.length) {
            qty_load = allContent.length;
        }
        let count = 1;
        allContent.forEach(e => {
            // console.log(e)
            if (count <= qty) {
                e.style.display = "flex";
                count++;
            } else {

                e.style.display = "none";
            }
        })
    }

    function validation() {
        Swal.fire({
            title: "Apakah Anda ingin melihat lebih banyak kontent?",
            showDenyButton: false,
            showCancelButton: true,
            confirmButtonText: "Ya",
            denyButtonText: `Ngga`
        }).then((result) => {
            if (result.isConfirmed) {
                qty_load += 12;
                load(qty_load)
            }
        });
    }
</script>

</html>